<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="./styles.css">
      </head>
  <body>
    <h1>Widget Locations</h1>
    <!--The div element for the map -->
    <div id="map"></div>
    <div id="code">
        <h1 v-if=!markerIsClicked>Click A Marker to Modify Code for a Widget</h1>
        <h1 v-else>{{this.clickedTitle}} </br> Type: 
          {{this.clickedType}}
        </h1>
        <form @submit.prevent="addNewCode" >
      <textarea v-model="code" rows="25" cols="188"></textarea>
      <button type="submit"  v-if= markerIsClicked>Update Code</button>
    </form>
    </div>

    
    <script>
// Initialize and add the map



function initMap(ulurus) {
  // The location of Uluru
  // The map, centered at Uluru
  
  if(ulurus == null) {
    return;
  }
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 13, center: {lat:40.2518,lng:-111.6493}});
  // The marker, positioned at Uluru
  let code = null;
  let lati = null;
  let long = null;
  let type = null;
  let title = null;
  for (let i = 0; i < ulurus.length; i++) {
    for (let j = 0; j < ulurus[i].length; j++) {
    let uluru = ulurus[i][j];
  if (j === 0) {
    code = uluru;
  }
  if (j === 1) {
    lati = uluru;
  }
  if (j === 2) {
    long = uluru;
  }
  if (j === 3) {
    type = uluru
  }
  if (j === 4) {
    title = uluru;
  }
  
    }
    let marker = new google.maps.Marker(
      {position: {lat:lati,lng: long},
       map: map, 
       title: title,
       store_type: type,
       store_code: code
      });
  marker.addListener('click', function() {
    
    map.setCenter(marker.getPosition());
    //addInfoWindow(marker, marker.get('store_code'));
    app.code = marker.get('store_code');
    app.clickedTitle = marker.get('title');
    app.clickedType = marker.get('store_type');
    app.markerIsClicked = true;
    //document.getElementById( 'code' ).scrollIntoView();

  });
  
 
}

};
 


    </script>
    


<script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-database.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>


<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCQNr5aC65hCelDZgqg5PinzxLHI2LGBsg",
    authDomain: "newproj-79b8b.firebaseapp.com",
    databaseURL: "https://newproj-79b8b.firebaseio.com",
    projectId: "newproj-79b8b",
    storageBucket: "newproj-79b8b.appspot.com",
    messagingSenderId: "549801987733"
  };
  firebase.initializeApp(config);
</script>


 <script>
 var database = firebase.database();
  var locationRef = database.ref().child("Locations");
  var code;
 
 locationRef.on('value', function(snapshot) {
   let snap = snapshot.val();
   console.log(snap);
   let length = snapshot.numChildren();
   var ulurus = [];
   let rowCounter = 0;
  
   for (i in snap) {
    let counter = 0;
     ulurus[rowCounter] = [];
    for (n in snap[i]) {
      ulurus[rowCounter][counter] = snap[i][n];
      counter++;
    }
    ulurus[rowCounter].push(i);
    rowCounter++;
   }
   

   initMap(ulurus);
 });

 
  function GetCodeContent(title) {
   locationRef.on('value', function(snapshot) {
   let snap = snapshot.val();
   let length = snapshot.numChildren();
   var ulurus = [];
   let rowCounter = 0;
  console.log(title);
   for (let i = 0;  i < length; i++) {
     if (title == snap[i]) {
       return snap[i][0];
     }
   }
   
 });
  };
    
    </script>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9S9cy0E2YJetCWEXp9z91mpncZNILnh4&callback=initMap">
    </script>

    <script src= "/retrieveData.js"></script>
  </body>
</html>