 #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
h1 {
	text-align: center
}

body {
       background-color:rgba(0, 0, 255, 0.6)
}

button {

       background: #fbfbfbbd;
       
       color: black;
       
       border-style: outset;
       
       border-color: #0066A2;
       
       height: 50px;
       
       width: 100px;
       
       font: bold 15px arial, sans-serif;
       
       text-shadow:none;
       
       }